body {
  font-family: YuMincho, /* Mac用 */
	'Yu Mincho', /* Windows用 */
	serif;
  color: #444444;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

a {
  color: inherit;
}

p {
}

a:hover {
  text-decoration: none;
}

article>* {
  margin-top: 60px;
  margin-bottom: 60px;
}

.padding15 {
  padding-left: 15px;
  padding-right: 15px;
}

.max1000 {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.img-header {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
}

img.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.header+.circle {
  display: block;
  width: 40px;
  margin: 30px auto 0;
}

button.guide-button {
  background-color: transparent;
  border: 1px solid #707070;
  border-radius: 10px;
  padding: 5px 30px;
  color: #707070;
  font-size: 14px;
}

.overwrap {
  position: relative;
  z-index: 1;
}

.img-header.overwrap {
  margin-bottom: 0;
}

.overwrap+* {
  margin-top: -18px;
}
