/* ---------------------------
hamburger menu
--------------------------- */
#navcheck { display: none; }
.navToggle {
  display: block;
  position: fixed;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  transform: translate(0, 0);
  transition: all .5s;
  cursor: pointer;
  z-index: 1033;
  background-color: #0d427c;
}

.navToggle span {
  display: block;
  position: absolute;
  left: 0;
  width: 26px;
  height: 2px;
  background-color: white;
  transition: all .5s ease;
}

.navToggle span:nth-child(1) {
  top: 10px;
  left: 7px;;
}

.navToggle span:nth-child(2) {
  top: 19px;
  left: 7px;;
}

.navToggle span:nth-child(3) {
  top: 28px;
  left: 7px;;
}

/* ---------------------------
hamburger when open
--------------------------- */
#navcheck:checked+.navToggle span:nth-child(1) {
  transform: translate(0, 9px) rotate(-45deg);
}

#navcheck:checked+.navToggle span:nth-child(2) {
  opacity: 0;
}

#navcheck:checked+.navToggle span:nth-child(3) {
  transform: translate(0, -9px) rotate(45deg);
}

#navcheck:checked+.navToggle {
  background-color: #434343;
}

/* ---------------------------
drawer
--------------------------- */
#navArea nav {
  display: block;
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  width: 300px;
  background: rgba(0,0,0,.6);
  /* overflow-x: hidden; */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: .5s;
  z-index: 1032;
  color: white;
}

#navArea .inner {
  padding: 0 15px;
}

/* shop-logo */
#navArea .shop-logo {
  padding-top: 70px;
  padding-bottom: 30px;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
}

#navArea .shop-logo img {
  width: 100%;
}

/* menu list */
.inner ul {
  padding-left: 30px;
  line-height: 260%;
}

.inner .level1 {
  font-size: 22px;
}

.inner .level2 {
  padding-left: 30px;
  font-size: 16px;
}

/* ---------------------------
drawer when open
--------------------------- */
#navcheck:checked~#navArea nav {
  right: 0;
}
