article img.header {
  max-height: 40px;
}
#you, #yaki, #bread {
  position: relative;
}

.visual {
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  text-align: right;
  padding: 0;
  max-width: 600px;
}

.visual img {
  max-height: 350px;
}

#you, #bread {
  background-color: #f8f8f8;
  margin-bottom: 0;
  padding-bottom: 30px;
}

.item {
  margin-top: 60px;
  margin-bottom: 60px;
}

.item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#yaki {
  margin-top: 0;
}

#yaki h3 {
  margin-top: 60px;
}

h3 span {
  font-size: 75%;
}
